<!DOCTYPE html>
<html>
<head>

<h1>All Shelters</h1>
</head>
    <body>

      <%@shelters.each do |shelter|%>
      <!-- <ul> -->
      <li><h3><%=link_to shelter.name, shelter_path(shelter)%></h3></li>
      <p><%=shelter.address%></p><br>
      <!-- </ul> -->
      <%end%>

  <button class="ui button"><%= link_to "Add a shelter", new_shelter_path%></button>

    </body>
