<!DOCTYPE html>
<html>
<head>

<h1>All of the Animals!</h1>
</head>

</body>

<ul>
  <%@animals.each do |animal|%>
  <li><h2><%=link_to animal.name, animal_path(animal)%></h2></li>
  <p>Type of Animal: <%=animal.type_of_animal.name%></p>
  <p>Shelter: <%=link_to animal.shelter.name, shelter_path(animal.shelter)%></p><br>
  <%end%>
</ul>

</body>
