<!DOCTYPE html>
<html>
  <head>
    <title>FindAPet</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.js"></script>

<style>
body {style="background-color:#ffffff;"}

h1   {
  list-style-type: none;
  text-align: center;
  font-family: "Futura";
  color:#92BFFF;
  margin-bottom: 30px;
}

h2   {
  list-style-type: none;
  text-decoration: none;
  text-align: center;
  font-family: "Futura";
  color:#92BFFF;
}

h3   {
  list-style-type: none;
  text-decoration: none;
  text-align: center;
  font-family: "Futura";
  color:#7F7F7D;
  margin-top: 10px;
  margin-bottom: 10px;
}

p    {
  list-style-type: none;
  text-align: center;
  font-family: "Futura";
  color:#7F7F7D;
}

ul {
    list-style-type: none;
}

li {
    list-style-type: none;
}

.navbar ul {
    list-style-type: none;
    font-family: "Futura";
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2DB545;
}

.navbar li {

    float: left;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 8px 14px;
    text-decoration: none;
    background-color: #2DB545;
}

.navbar li a:hover {
    background-color: #83E5C6;
}

form {
  font-family: "Futura";
}

label {
  font-family: "Futura";
  padding: 10px;
}

input {
  font-family: "Futura";
}

select {
  font-family: "Futura";
}

.wrapper {
  width: 70%;
  margin: 0 auto;
}

.numbers p {
  margin-bottom: 0px;
  padding: 0px;
  color: #FF5B3B;
}

.ui.button {
  margin-left: 40px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: "Futura";
}

.filter {
  font-family: "Futura";
  margin-left: 30%;
  margin-top: 20px;
  margin-bottom: 10px;
}

.pics img {
  float: left;
  margin-left: 300px;
  width: 300px;
  height: 30%;
}

.mission {
  align-items: center;
  border: 2px solid grey;
  padding: 20px;
  width: 45%;
  border-radius: 15px;
  margin-left: 27%;
  margin-bottom: 30px;
}

</style>

</head>
  <body>
    <div class="navbar">
      <ul>
        <li><a class="active" href="/">Home</a></li>
        <li><a href="/shelters">Shelters</a></li>
      </ul>
    </div>
    <%= yield %>
  </body>
</html>
